pyspark==3.5.1
ray[data,default]==2.9.3
pyarrow==14.0.2
pandas==2.1.4
numpy==1.26.3
fastparquet==2024.2.0
psutil==5.9.8
matplotlib==3.8.2
seaborn==0.13.1
tqdm==4.66.1
requests==2.31.0
setuptools==67.8.0
